form{
   align-items: center;
   display: inline-block;
}

body {
    text-align: left;
}
button{
    color: white;
    background-color: blueviolet;
}
#list-items span{
    cursor: pointer;
}
#list-items span.done{
    text-decoration: line-through;
   
}
#list-items input[type=checkbox]{
    cursor: pointer;
}